<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/getUser" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyService" contract="ServiceReference1.IMyService"
                name="BasicHttpBinding_IMyService" />
            <endpoint address="net.tcp://localhost:8081/getUser" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyService" contract="ServiceReference1.IMyService"
                name="NetTcpBinding_IMyService">
                <identity>
                    <userPrincipalName value="DELLAPTOP55\schulz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>