<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="VWW_V4_WCF2.MyService" behaviorConfiguration="mexBehavior">
        <endpoint address="getUser" contract="VWW_V4_WCF2.IMyService" binding="basicHttpBinding"></endpoint>
        <endpoint address="getUser" contract="VWW_V4_WCF2.IMyService" binding="netTcpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8081/"/>
          </baseAddresses>
        </host>
    </service>
    </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
  </system.serviceModel>
</configuration>